* {
    box-sizing: border-box;
}

::selection {
    color: #ffffff;
    background: #c3c04a;
}

h1 {
    color: #ffffff;
    font-size: 30px;
}

h2 {
    color: #c3c04a;
    font-size: 28px;
}

h3 {
    color: #c3c04a;
    font-size: 23px;
}

p {
    color: #5c3826;
    font-size: 20px;
}

body {
    background: #ffffff;
    font-family: Calibri, sans-serif;
    color: #ffffff;
}

.navigation a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}

.navigation a:hover{
    color: #ffffff;
}

.navigation li {
    display: inline-block;
    padding: 15px
}

.navigation {
    text-align: center;
    background-color: #c3c04a;
    margin: 20px 0;
}

.seminare {
    background-color: #5c3826;
}

.navigation.seminare a {
    font-size: 20px;
}

.navigation.seminare a span {
    font-size: 20px;
    display: inline-block;
}

.navigation.seminare div {
    display: inline-block;
    padding: 5px 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.workshop-image {
    position: relative;
}

.workshop-image img {
    display: block;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    max-width: 300px;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1680px;
}

.button-nav {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    background: #c3c04a;
    display: inline-block;
    padding: 10px 15px;
}

.button-nav:hover {
    background: #ccc94c;
}

.button-info {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    background: #c3c04a;
    display: inline-block;
    padding: 10px 15px;

}

.button-info:hover {
    background: #ccc94c;
}


/* CLEMENS TOURK - KAFFEEROESTEREI - KACHELN*/

.content-first-row {
    display: flex;
}

.first-row {
    padding: 10px;
}

.content-second-row {
    display: flex;
}

.second-row {
    padding: 5px 10px;
}

/* SEMINARE UEBERSICHT */

.seminare-titel {
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.workshops--grid {
    display: flex;
    flex-wrap: wrap;
}

.li-workshops {
    display: flex;
    width: 33.333%;
    padding: 0 10px;
}


.wrapper--workshops {
    background-color: #5c3826;
}

.inner-content-workshops {
    padding: 0 20px 20px;
}

.cta-workshops {
    padding: 0 20px 20px;
}

/* SEMINARE DETAIL ANSICHT */

.workshop-image{
    float: left;
}

.content-workshops {
    background-color: #5c3826;
    overflow: hidden;
    padding: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* FOOTER */

footer {
    margin-top: 50px;
    padding: 20px 20px;
    background: #c3c04a;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1680px;
    overflow: hidden;
}

footer .footer-left {
    float: left;
}

footer .footer-right {
    float: right;
}

.footer-right a {
    color: #ffffff;
    text-decoration: none;
}

.footer-right a:hover{
    color: #ccc94c;
}