* {
    box-sizing: border-box;
}

::selection {
    color: #ffffff;
    background: #fa7846f0;
}

body {
    background: #ffffff;
    font-family: arial, sans-serif;
    color: #ffffff;
}

.navigation a {
    color: #5c3826;
    font-size: 40px;
    text-decoration: none;
}

.navigation a:hover{
    color: #a56a4c;
}

.navigation li {
    display: inline-block;
    padding: 15px
}

.navigation {
    text-align: center;
    background-color: #e5be83;
    margin: 20px 0;
}

.seminare {
    background: none;
}

.navigation.seminare a {
    font-size: 20px;
}

.navigation.seminare a span {
    font-size: 20px;
    display: inline-block;
}

.navigation.seminare div {
    display: inline-block;
    padding: 5px 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.workshop-image {
    position: relative;
}

.workshop-image img {
    display: block;
}

.image-hover {
    background: rgba(250,120,70, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    max-width: 300px;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1680px;
}

h1 {
    color: #ffffff;
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 23px;
}

.workshop-hover-text span{
    font-size: 18px;
}

.button-info {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    background: #5c3826;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 22px;
    border: 2px solid #ffffff;
}

.button-info:hover {
    background: #a56a4c;
}

/* Footer */

footer {
    margin-top: 50px;
    padding: 20px 20px;
    background: #e5be83;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1680px;
    overflow: hidden;
}

footer .footer-left {
    float: left;
}

footer .footer-right {
    float: right;
}

.footer-right a {
    color: #5c3826;
    text-decoration: none;
}

.footer-right a:hover{
    color: #a56a4c;
}

/* NEW WORKSHOPS */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.workshops--grid {
    display: flex;
    flex-wrap: wrap;
}

.li-workshops {
    display: flex;
    width: 33.333%;
    padding: 0 10px;
}


.wrapper--workshops {
    background-color: #0098AA;
}

.inner-content-workshops {
    padding: 0 20px 20px;
}

.cta-workshops {
    padding: 0 20px 20px;
}

/* DETAIL-ANSICHT WORKSHOPS */

.workshop-image{
    float: left;
}

.content-workshops {
    background-color: #c69815;
    overflow: hidden;
    padding: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* CLEMENS TOURK - KAFFEEROESTEREI */


