body {
    background: #2E2E2E;
    font-family: arial, sans-serif;
    color: #ffffff;
}

.navigation a {
    color: #0098AA;
    font-size: 44px;
    text-decoration: none;
}

.navigation a:hover{
    color: #FA7846;
}

.navigation li {
    display: inline-block;
    padding: 15px
}

.navigation {
    text-align: center;
}

.navigation.seminare a {
    font-size: 16px;
}

.navigation.seminare a span {
    font-size: 40px;
    display: inline-block;
}

.navigation.seminare div {
    display: inline-block;
    padding: 5px 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.workshop-image {
    position: relative;
}

.workshop-image img {
    display: block;
}

.image-hover {
    background: rgba(250,120,70, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    max-width: 300px;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1680px;
}

h1 {
    color: #0098AA;
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.workshop-hover-text span{
    font-size: 18px;
}

.button-info {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    background: #FA7846;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
}

.button-info:hover {
    background: #0098AA;
}

/* Footer */

footer {
    margin-top: 50px;
    padding: 20px 0;
    background: #0098AA;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1680px;
    overflow: hidden;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
}