body {
    background: #2E2E2E;
}

.navigation a {
    color: #0098AA;
    font-family: arial, sans-serif;
    font-size: 44px;
    text-decoration: none;
}

.navigation a:hover{
    color: #FA7846;
}

.navigation li {
    display: inline-block;
    padding: 15px
}