* {
    box-sizing: border-box;
}

::selection {
    color: #ffffff;
    background: #c3c04a;
}

h1 {
    color: #c3c04a;
    font-size: 32px;
}

h2 {
    color: #5c3826;
    font-size: 26px;
}

h3 {
    color: #c3c04a;
    font-size: 23px;
}

p {
    color: #5c3826;
    font-size: 20px;
}

body {
    background: #ffffff;
    font-family: Calibri, sans-serif;
    color: #ffffff;
}

/* NAV */

.navigation a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}

.navigation a:hover{
    color: #ffffff;
}

.navigation li {
    display: inline-block;
}

.navigation {
    text-align: center;
    background-color: #c3c04a;
    margin: 20px 0;
}

.seminare {
    background-color: #5c3826;
    margin-bottom: 50px;
}

.navigation.seminare a {
    font-size: 20px;
}

.navigation.seminare a span {
    font-size: 20px;
    display: inline-block;
}

.navigation.seminare div {
    display: inline-block;
    padding: 0 15px;
}

/* ETC */

img {
    max-width: 100%;
    height: auto;
}

.logo-wrapper {
    text-align: center;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1680px;
}

/* BUTTONS */

.button-nav {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    background: #c3c04a;
    display: inline-block;
    padding: 15px 15px 17px;
}

.button-nav:hover {
    background: #ccc94c;
}

.button-seminar {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    background: #5c3826;
    display: inline-block;
    padding: 10px 15px;
}

.button-seminar:hover {
    background: #67412e;
}

.button-info {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;

    background: #c3c04a;
    display: inline-block;
    padding: 10px 15px;
}

.button-info:hover {
    background: #ccc94c;
}

/* CLEMENS TOURK - KAFFEEROESTEREI - KACHELN */

.content-first-row {
    display: flex;
}

.content-first-row img {
    display: block;
}

.first-row {
    padding: 10px;
}

.content-second-row {
    display: flex;
}

.second-row {
    padding: 10px;
}

.second-row-width {
    width: 1130px;
}

/* SEMINARE UEBERSICHT */

.seminare-titel {
    padding: 10px;
}

.seminare-info {
    font-style: italic;
    font-size: 18px;
}

.seminare-info-white {
    font-style: italic;
    font-size: 18px;
    color: #ffffff;
}

.seminare-h2-white {
    color: #ffffff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.workshops--grid {
    display: flex;
    flex-wrap: wrap;
}

.li-workshops {
    display: flex;
    width: 33.333%;
    padding: 0 10px;
}

.wrapper--workshops {
    background-color: #5c3826;
}

.inner-content-workshops {
    padding: 0 20px 20px;
}

.cta-workshops {
    padding: 0 20px 20px;
}

/* SEMINARE DETAIL ANSICHT */

.workshop-image{
    float: left;
}

.content-workshops {
    overflow: hidden;
    padding: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.price-info {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;

    background: #5c3826;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
}

/* FOOTER */

footer {
    margin-top: 50px;
    padding: 0 20px;
    background: #c3c04a;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1680px;
    overflow: hidden;
}

footer .footer-left {
    float: left;
    padding-top: 17px;
}

footer .footer-right {
    float: right;
}

.footer-right a {
    color: #ffffff;
    text-decoration: none;
}

